<html>
    <body>
        <h1>Pack Status Page</h1>
        <p>Last updated at {{.lastupdated}}</p>
        <hr>
        <p><b>Alpha:</b> <i>{{.hostname}}</i></p>
        <p><b>Workers:</b> <i>{{.wolfcount}}</i></p>
    </body>
</html>