<html>
    <body>
        <h1>Pack Status Page</h1>
        <ul>
            {{ range .packlist }}
                <li><a href="{{ .URI }}">{{ .Identifier }} {{ .Lastseenat }}</a></li>
            {{ end }}
        </ul>
    </body>
</html>